
body {
	font-family: Arial, Helvetica, sans-serif
}


h1 {
	margin: 0px;
}

span {
	margin-left: 15px;
}

a {
	background-color: LightGrey;
	text-color: blue;
}

.intro {
	color: blue;
	font-size: 15px;
}

.about {
	color: olive;
	font-size: 15px;
}

.noMarginDiv {
	margin: 0px;
	border: 0px;
}